body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
  /* width: 100%; */
  font-size: 15px;
  background-image: url(../img/c-body_bg.png);
}



/* 上方導覽 */
nav.head{
  background-image: url(../img/Rectangle\ 13.jpg);
  background-size: cover;
  display: flex;
  text-align: center;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: fixed;
  
  z-index: 1;
  
}
nav.head img{
  display: block;
  width: 60px;
  margin-left: 20px;
}
.origin{
  display: flex;
  margin-left: auto;
  
}
nav.head li{
 padding: 5px 30px; 
 text-align: center;
}
nav.head li a{
  text-decoration: none;
  color: rgb(155, 155, 155); 
  font-size: 18px;
}
nav.head  i{
  margin-right: 10px;
  /* margin-bottom: 50px; */
  color: rgb(155, 155, 155); 
  font-size: 18px;
  text-align: center;
  /* border: 1px solid red; */
}
nav.head li a:hover{
  color: rgb(182, 118, 0);
}
.cart{
  text-decoration: none;
  position: relative;
}
.cart span{
  color: white;
  padding: 3px;
  font-size: 2px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: -10px;
  opacity: .8;

}
#toggle{
  display: none
}


h1{
  text-align: center;
  font-size: 40px;
  /* margin-top: 50px; */
  padding-top: 200px;
  margin-bottom: 50px;
  
}


footer{
  border-top: 1px solid black;
   margin-top: 100px;
   text-align: center;
   min-width: 1200px;
   
 }
 footer a{
   display: inline-block;
   
   margin: 10px;
 }
 footer img{
   display: block;
   height: 30px;
 }
 footer p{
  margin: 10px 0;
 }


@media screen  and (max-width: 414px){
  nav.head{
    display: block;
    height: 60px;
    z-index: 99;
  }
  nav.head  img{
    /* border: 1px solid red; */
    margin-left: 10px;
    margin-top: 5px;
    /* height: 20px; */
    display: inline-block;
    float: left;
  }
  nav.head ul{
    display: block;
    /* flex-direction: column; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 60px;
    border-top: 1px solid black ;
    /* margin-top: 5px; */
    /* background-color: white; */
    
  
  }
  nav.head ul li{
    background-image: url(../img/Rectangle\ 13.jpg);
    /* background-color: rgb(247, 240, 217); */
  }
  nav.head i{
    /* text-align: center; */
    margin-top: 20px;
    
  }








  footer{
    min-width: 0;
    padding: 0 10px;
    margin-top: 40px;
  }
  footer p{
    font-size: 2vw;
    
  }

  #toggle{
    display: block;
    float: right;
  }





  .origin{
    /* overflow: hidden; */
    position: absolute;
    transform: translateY(-300px);
    transition: .5s;
    z-index: -1;
    /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
    
  }
  .show{
    /* overflow: visible; */
    transform: translateY(0);
    transition: .5s;

  }





}