
.wrapper{
  background-image: url(../img/w644.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* height: 100vh; */
  min-width: 1200px;
}
.login_area{
  padding-top: 200px;
  /* border: 1px solid #ff0000; */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_info a{
  text-decoration: none;
}

.left_info_top{
  background-color: #e9724c;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 30px 30px;
  height: 140px;

}
.left_info_top h2{
  font-size: 20px;
  margin-left: 20px;
  padding: 6px 0 6px 20px;
  border-left: 2px solid #fff;
  color: white;
}
.left_info_down{
  background-color: #2E5077;
  /* margin-top: 60px; */
  
  padding: 30px 30px;
  height: 140px;

}
.left_info_down img{
  display: block;
  margin-top: 15px;
}
.left_info_down_content{
  /* border: 1px solid red; */
  font-size: 20px;
  /* margin-left: 20px; */
  padding: 6px 0 6px 20px;
  border-left: 2px solid #fff;
  color: white;


  line-height: 1.6;
  margin-top: 10px;
}
.left_info_down_content p{
  font-size: 15px;
}



/* 右邊欄位 */

.right_info{
  /* border: 1px solid red; */
  margin-left: 30px;
  width: 40%;
  
}
.right_inner{
  padding: 50px 30px;
  background-color: #fff;
}
.form-group{
  /* border: 1px solid red; */
  padding: 10px 0;
  
}
.form-group input{
  
  width: 90%;
  padding: 15px;
  margin-left: 4px;

}
.form-group .form_inline{
  display: flex;
}
.form-group .form_inline input{
  width: 30%;
}


.btn-box{
  /* border: 1px solid purple; */
  
  text-align: center;
}
.btn-box a{
  background-color: #98b06f;
  color: white;
  display: block;
  width: 90%;
  padding: 15px;

  text-decoration: none;
  margin: 10px  0 0 4px;
}
.btn-box ul{
  display: flex;

}
.btn-box li{
  width: 45%;
}
.btn-box li:nth-child(2){
  margin-left: 20px;
}



@media screen  and (max-width: 414px){
  .wrapper{
    min-width: auto;
    background-size: cover;
    height: 100%;
  }
  .login_area{
    min-width: auto;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 100px;
  }
  .right_info{
    margin-left: 0;
    width: auto;
  }
  .form-group input{
    /* width: 90%; */
    margin: 0;
    padding-right: 10px;
  }
  
  .btn-box a{
    /* padding: 15px 17px; */
    margin-left: 0;
    /* width: 90%; */
  }
  .btn-box ul{
    display: block;
  }
  .btn-box li{
    width: auto;
    
  }
  .btn-box li:nth-child(2){
    margin-left: 0;
  }




  .left_info{
    margin: 0 40px;
    margin-left: 42px;
  }
  .left_info_top{
    margin-top: 20px;
  }
  
  .left_info_down{
    display: flex;
  }
  .left_info_down img{
    width: 50px;
    height: 50px;
    margin-right: 25px;
    margin-left: -8px;
  }
  
}
