.product_detail{
  min-width: 1200px;
  margin: 0 auto;
  /* border: 1px solid red; */
  padding-top: 150px;
}
.product_wrapper{
  border: 1px solid rgb(167, 124, 124);
  margin: 0 auto;
  width: 80%;
}
.product_inner{
  /* border: 1px solid purple; */
  margin: 30px;
  display: flex;
  
}

.product_left{
  /* border: 1px solid green; */
  width: 50%;
}
.product_left > img{
  display: block;
  width: 100%;
  height: 450px;
  width: 550px;
}
.picture_list{
  
  /* border: 1px solid red; */
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  
}
.picture_list img{
  width: 30%;
  height: 120px;
  display: block;
}


.share{
  /* border: 1px solid brown; */
  display: block;
  margin-top: 20px;
}
.share ul{
  display: flex;
  align-items: center;
}
.share ul:nth-child(1){
  
}
.share ul img{
  display: block;
  height: 30px;
  padding-left: 10px;
}


.product_right{
  /* border: 1px solid green; */
  width: 50%;
}
.right_inner{
  /* border: 1px solid red; */
  
  padding-left: 30px;
  padding-top: 30px;
  
}
.right_inner h2{
  font-size: 20px;
  
}
.right_inner h3{
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  margin: 40px 0;
}
.count{
  display: flex;
  font-size: 20px;

}
.count > p{
  padding: 20px;
  margin-right: 80px;
}
.count .count_num{
  border: 1px solid #9696a7;
  display: flex;
  font-size: 25px;
  margin-right: 0;
}
.count .count_num p{
  /* border: 1px solid red; */
  padding: 20px;
  cursor: pointer;
}
.count .count_num p:nth-child(2){
  cursor: default;
}
.button{
  margin-top: 40px;
  font-size: 20px;
 
  display: flex;
  justify-content: center;
}
.button a{
  padding: 20px;
 
  text-decoration: none;
  background-color: #32373A;
  color: white;
  border-radius: 10px;

}
.button a:nth-child(2){
  background-color: #C14848;
  margin-left: 30px;
  padding-right: 30px;
  
}
.deliver{
  margin-top: 40px;
}
.methood{
  line-height: 1.6;
  padding: 10px;
  margin: 10px 10px 0 0;
  background-color: rgb(233, 233, 233);
}
.methood h4{
  font-size: 18px;
  margin: 5px 0;
}




.product_wrapper:nth-child(2){
  margin-top: 30px;
}
.title{
  /* border: 1px solid blue; */
  
}
.title h2{
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(167, 124, 124);
}
.title p{
  text-align: right;
}
.product_inner2{
  margin: 30px;

}
.buyplus{
  /* border: 1px solid red; */
  margin-top: 10px;
}
.buyplus ul{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.buyplus li{
  /* border: 1px solid blue; */
  border-top: 20px solid rgb(207, 206, 206);
  background-color: white;
  display: flex;
  padding: 10px;
  width: 410px;
}
.buyplus li img{
  display: block;
  width: 50px;
  height: 50px;
}
.buyplus_inner{
  margin-left: 30px;
}
.buyplus .buyword{
  display: flex;
  margin: 20px 0 10px 0;
}
.buyplus .buyword h4{
  font-weight: bold;
  margin-left: 20px;
}
.buyplus .count_num{
  display: flex;
  /* justify-content: flex-start; */
  margin-top: 30px;
}
.buyplus .count_num select{
  width: 20%;
  text-align: center;
}
.buyplus .count_num h4{
  margin-left: 30px;
  padding: 10px 40px;
  background-color: #C14848;
  color: white;
}



@media screen  and (max-width: 414px){
  .product_detail{
    min-width: auto;
  }
  .product_left > img{
    width: 65vw;
    height: 65vw;
  }
  .product_inner{
    flex-direction: column;
  }
  .product_left{
    width: auto;
  }
  
  .picture_list{
    /* margin-left: 115px;   */
    width: 100%;

  }
  .picture_list img{
    width: 20vw;
    margin-left: 10px;
  }





  .product_right{
    width: auto;
  }
  .right_inner{
    padding-left: 0;
    
  }
  .right_inner h2{
    font-size: 4vw;
    font-weight: bold;
   
  }
  .right_inner h3{
    margin: 20px 0;
   font-size: 4vw;
   display: block;
  }
  .count > p{
    font-size: 4vw;
    margin-right: 40px;
  }
  .count .count_num{
    font-size: 4vw;
  }
  .count .count_num p{
    padding: 10px;
    height: 0;
    margin-top: 10px;
  }
  .button a{
    font-size: 3vw;
  }
  .methood{
    font-size: 3vw;
  }



  .buyplus_inner{
    margin-left: 0;
    text-align: center;
  }
  .buyplus li{
    flex-direction: column;
  }
  .buyplus li img{
    margin: 0 auto;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
  }
  .buyplus .buyword h4{
    margin-left: 0;
  }
  h4{
    margin-top: 30px;
  }
  .buyplus .buyword{
    flex-direction: column;
  }
  .buyplus .count_num select{
    height: 5vh;
  }
  .buyplus .count_num h4{

    margin: auto 0;
    margin-left: 30px;
  }
  .buyplus .count_num{
    margin-left: 30px;
  }
}