body{
  font-family: 'Quicksand', 'Akshar', 'Caveat', 'Libre Bodoni';
}
.wrapper{
  
  width: 100%;
  margin: 0 auto;
}


/* 上方導覽列 */


/* 消息欄 */
.slideshow {
  position: relative;
  margin: auto;
  overflow: hidden;
  height: 650px;
  min-width: 1200px;
}
.slideshow img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 800px;
 
  transform: translateX(-50%);
  display: none;
}

header .news{
  display: inline-block;
  position: absolute;
  right: 30px;
  bottom: 0;
  width: 400px;
  height: 150px;
  background-color: white;
  opacity: .9;  
}
header span{
  display: flex;
  margin: 10px 0 0 20px;
  align-items: center;
}
header span h2{
  font-size: 15px;
  background-color: #DBC899;
  color: white;
  padding: 5px 30px;
  border-radius: 10px;
 
}
header span h3{
  font-size: 15px;
  padding: 20px;
}
header  p{
  padding: 20px;
  padding-top: 0;
  font-weight: bold;
  font-size: 15px;
}


/* about us欄位 */
.about_us{
  min-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.about_us h2{
  font-size: 25px;
  position: relative;
  top: 50px;
  margin-left: 120px;

 
  padding-left: 5px;
  border-left: 3px solid black;
}
.about_us a{

}
.about_us a img{
  display: inline-block;
  position: absolute;
  width: 50%;
  right: 0;
  top: 50px;
}
.about_us span{
  background-image: url(../img/Frame\ 54.jpg);
  display: block;
  height: 200px;
  width: 100%;
  margin-top: 100px;
}
.about_us span p{
  font-size: 20px;
  position: relative;
  top: 50px;
  margin-left: 200px;
}


/* intro欄位 */
.intro{
  background-image: url(../img/Frame\ 55.png);
  height: 800px;
  min-width: 1200px;
  padding: 50px 0;
}

.intro .pic_inner{
  background-image: url(../img/image\ 14.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  width: 80%;
  margin: 0 auto;
  display: block;
  background-position: center center;
  
  position: relative;
  top: 30px;
}
.intro .intro_inner{
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  margin-left: auto;
  margin-right: 300px;

  margin-top: 80px;
  

}
.intro p{
  font-size: 20px;
  padding-left: 30px;
}
.intro img{
  position: relative;
  top: 228px;
  display: block;
  width: 300px;
 
}

/* 商品欄位 */
.inner_wrapper{
  /* border: 1px solid red; */

  min-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
.inner_wrapper .product{
  /* border: 1px solid blue; */
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}
.inner_wrapper .product h2{
  font-size: 25px;
  border-left: 3px solid black;
  
  padding-left: 5px;
}
.inner_wrapper .container{
  border-bottom: 2px solid rgb(142, 142, 142);
  padding-bottom: 60px;
  margin: 0 auto;
  margin-top: 30px;
  /* width: 80%; */
  height: 700px;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr 1fr 1fr 1fr ;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
      "B1 B1 B2 B2 B2 B2"
      "B1 B1 B2 B2 B2 B2"
      "B1 B1 B3 B3 B4 B4"
      "B1 B1 B3 B3 B4 B4";

  
}
.inner_wrapper a{
  text-decoration: none;
  position: relative;
  transition: all 1s;
  border: 0 double transparent;
}
.inner_wrapper a:hover{
  padding: 10px;
  border: 5px double black;
 
}
.inner_wrapper img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.inner_wrapper .container p{
  font-size: 25px;
  display: block;
  text-align: center;
  margin-top: -30px;
  margin-left: 10px;
  width: 120px;
  background-color: black;
  color: white;
  position: absolute;
}
.aa{grid-area: B1;}
.bb{grid-area: B2;}
.cc{grid-area: B3;}
.dd{grid-area: B4;}



/* 特徵欄位 */
.feature_area{
  min-width: 1200px;
  margin: 0 auto;
}
.feature_inner{
  display: flex;
  width: 100%;
  margin-top: 60px;
  justify-content: space-around;
}
.feature_area_info{
  /* width: 100%; */
  text-align: center;
}
.feature_area_info label{
  font-weight: bold;
}
.feature_area_info h3{
  font-size: 24px;
  margin: 10px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(188, 188, 188);
}
.feature_area_info p{
  font-size: 16px;
  line-height: 1.6;
}
.feature_area_info img{
  display: block;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  margin-top: 30px;
  transition: .5s;
}
.feature_area_info img:hover{
  transform: scale(1.2);

}

.feature_area_info .picwra{
  overflow: hidden;
  display: block;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  margin-top: 30px;

  
}
.feature_area_info .picwra img{
  display: block;
  
  margin-top: 0;

}













/* 消息欄位 */
.news{
  /* border: 1px solid red; */
  background-image: url(../img/download-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1200px;
  margin-top: 80px;
  height: 400px;
}
.news ul{
  padding-top: 30px;
  
  
}
.news ul li{
  display: flex;
  padding: 25px 0;
  font-size: 16px;
  transition: all 0.6s ease 0s;
  padding-left: 150px;
}
.news li:hover{
  padding: 25px 0 25px 175px;

  background-color: white;
  
}

.news li span{
  margin-right: 80px;
  color: #555;
}
.news li a{
  text-decoration: none;
  color: #555;
}















/* 地圖 */
.main_map{
  /* min-width: 1200px; */
  margin: 0 auto;
  margin: 0 120px;
}
.main_map .main_map_inner{
  /* width: 90%; */
  margin: 0 auto;
  margin-top: 60px;
  
}
.main_map h2{
  font-size: 25px;
  border-left: 3px solid black;
  padding-left: 5px;
  margin-bottom: 60px;
}
.main_map .map{
  display: flex;
  font-size: 20px;
  line-height: 1.6;
}
.main_map .map_left{

}
.main_map .map_left img{
  display: block;
  height: 350px;
  margin-bottom: 50px;
}
.main_map .map_right{
  display: flex;
}
.main_map .map_right img{
  display: block;
  height: 500px;
  margin-left: 50px;
}



footer{
 border-top: 1px solid black;
  margin-top: 100px;
  text-align: center;
  
}
footer a{
  display: inline-block;
  
  margin: 10px;
}
footer img{
  display: block;
  height: 30px;
}




@media screen  and (max-width: 414px){
  .wrapper{
    height: 100vh;
    width: 100%;
  }
  .slideshow{
    min-width: 0;
    height: 50vh;
  }
  .about_us{
    min-width: 0;
    margin-top: -20px;
  }
  .about_us h2{
    margin-left: 20px;
    font-size: 5vw;
  }
  .about_us span{
    height: 14vh;
  }
  .about_us span p{
    font-size: 4vw;
    top: 30px;
    margin-left: 40px;
  }
  .intro{
    height: 60vh;
    min-width: 0;
    padding-bottom: 0;
  }
  .intro .pic_inner{
    background-attachment: local;
    background-position: center center;
    height: 20vh;
    top: 0;
  }
  .intro .intro_inner{
    
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 0;
  }
  .intro p{
    font-size: 2vw;
    padding-left: 10px;
  }
  .intro img{
    position: static;
    width: 30vw;
    margin-top: 160px;
  }
  .inner_wrapper .product h2{
    margin-left: 20px;
    font-size: 5vw;
  }



  .inner_wrapper{
    min-width: 0;
  
    padding: 10px 20px 0 20px; 
  }
  .inner_wrapper .product{
    margin-top: 20px;
  }
  .inner_wrapper .container{
    height: 50vh;
   
  }
  .inner_wrapper .container p{
    font-size: 4vw;
    width: 20vw;
  
  }


  .feature_area{
    min-width: 0;

  }
  .feature_inner{
    /* display: flex; */
    margin-top: 0;
    flex-wrap: wrap;
  }
  .feature_area_info{
    margin-top: 40px;
    
  }
  .feature_area_info h3{
    font-size: 5vw;
  }
  .feature_area_info p{
    font-size: 3vw;
  }
  .feature_area_info .picwra{
    overflow:visible;
    height: 20vh;
  }
  .feature_area_info .picwra img{
    height: 150px;
    width: 150px;
    margin: 0 auto;
    margin-top: -20px;
  }
  .intro .intro_inner{
    width: auto;
  }





  
  .news{
    min-width: 0;
    
    height: 35vh;
    margin-top: 40px;
  }
 
  .news ul li{
    font-size: 1vw;
    padding: 10px 0 10px 10px;
    /* width: 100%; */
  }
  .news li span{
    margin-right: 40px;
    white-space: nowrap;
    

  }

 




  .main_map h2{
    font-size: 5vw;
    margin-left: 20px;
  }
  .main_map{
    margin-left: 0;
  }
  .main_map .map_right img{
    height: 150px;
    margin-left: 10px;
  }
  .main_map .map_left img{
    height: 150px;
    margin-left: 40px;
    margin-bottom: 20px;

  }
  .main_map .map_left p{
    font-size: 2vw;
    margin-left: 20px;
    white-space: nowrap;
  }
}